
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 60px;
    font-weight: 1000;
    line-height: 80px;
    padding: 0 4px;
	min-width: 80px;
    text-align: center;

}
.qty .count1 {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 60px;
    font-weight: 1000;
    line-height: 80px;
    padding: 0 4px;
	min-width: 80px;
    text-align: center;
}
.count2 {
	font-weight:bold;
	color: #000;
	line-height: 80px;
}
.intro-text{
	font-size: 60px;
	font-weight:bold;
	
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 70px;
    height: 70px;
    font: 50px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
	font-size: 80px;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 70px;
    height: 70px;
    font: 45px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
	font-size: 80px;
	
}
.qty .plus1 {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 70px;
    height: 70px;
    font: 50px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
	font-size: 80px;
    }
.qty .minus1 {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 70px;
    height: 70px;
    font: 45px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
	font-size: 80px;
	
}
.qty {
	
	text-align: center;
	
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
.minus1:hover{
    background-color: #717fe0 !important;
}
.plus1:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 5%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}