<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>基隆公車調派系統-新增司機</title>
		<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
		<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
		<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		

		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
		<script  src="{{url_for('static', filename='js/add_busdriver.js')}}"></script>
		<script  src="{{url_for('static', filename='js/websocket_open.js')}}"></script>
	</head>

	
    <body onload="websocket_init()">
	  	  <nav class="navbar navbar-expand-xl navbar-dark bg-dark" id="mainNav">
		  <div class="container">
			  <a class="navbar-brand" href="{{url_for('manager_index')}}">基隆公車調派系統</a>
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			
			<div class="navbar-collapse collapse" id="navbarText">
			  <ul class="nav navbar-nav">
				<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_information')}}">公車路線資訊</a></li>
				<li class="nav-item"><a class = "nav-link active" href="{{url_for('add_busdriver')}}">新增司機</a></li>
				<li class="nav-item"><a class = "nav-link" href="{{url_for('timely_bus_information')}}"> 即時公車資訊</a></li>
				<li class="nav-item"><a class = "nav-link" href="{{url_for('Human_dispatch')}}"> 人力調派</a></li>
				<li class="nav-item"><a class = "nav-link" href="{{url_for('historical_record')}}"> 歷史紀錄</a></li>
				<li class="nav-item"><a class = "nav-link" href="{{url_for('Emergency_reception')}}"> 突發狀況接收</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  修改路線/班次
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="{{url_for('add_or_revise_shift')}}">新增/修改班次</a>
					  <a class="dropdown-item" href="{{url_for('revise_path')}}">修改路線</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  設定
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="{{url_for('Personal_basic_information')}}">個人基本資料</a>
					  <a class="dropdown-item" href="{{url_for('change_password')}}">修改密碼</a>
					  <a class="dropdown-item" href="{{url_for('logout')}}">登出</a>
					</div>
				</li>
			</ul>
			<ul class="nav navbar-nav ml-auto">
				
			</ul>
			</div>
			
		</div>
	   </nav>
	   <div class="container">

			<div class="intro-text my-3">
				<h1>新增司機</h1>
			</div>
			{% if error %}
				<div class="alert alert-danger" role="alert"><strong>Error:</strong> {{ error }}</div>
			{% endif %}
			{% if success %}
				<div class="alert alert-success" role="alert"><strong>Success:</strong> {{ success }}</div>
			{% endif %}
			<form method = "post" action = "http://140.121.198.84:3000/add_driver_to_db"  enctype = "multipart/form-data">
			  <div class = "row">
					
				<div class="col-sm-7 col-lg-7 col-md-7">
				  <div class="form-group row">
					<label for="InputName" class="col-xs-3 col-md-auto col-form-label"><h6>姓名：</h6></label>
					<input type="text" class="form-control col-xs-6 col-md-6 col-lg-6" id="InputName" placeholder="請輸入姓名" name="name" required>
				  </div>
				  
				  <div class="form-group row">
					<legend class="col-xs-3 col-md-auto col-form-label"><h6>性別：</h6></legend>
					<div class="col-sm-1 mt-2 mt-md-1">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="gender" id="gender1" value="0" required>
						  <label class="form-check-label" for="gender1"><h6>男</h6></label>
						</div>
					</div>
					<div class="col-sm-1 mt-2 mt-md-1">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="gender" id="gender2" value="1" required>
						  <label class="form-check-label" for="gender2"><h6>女</h6></label>
						</div>
					</div>
				  </div>
				  
				  <div class="form-group row">
					<label for="birthday" class="col-xs-3 col-md-auto col-form-label">
						<h6>生日：</h6>
					</label>
					
					
					<div class="col-xs-6 col-md-6 col-lg-6">
						<div class="form-group">
							<div class="input-group date" id="birthday" data-target-input="nearest">
								<input type="text" class="form-control datetimepicker-input" data-target="#birthday" name="birthday" required>
								<div class="input-group-append" data-target="#birthday" data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
						</div>
					</div>
				  </div>
				  
				  <div class="form-group row">
					<label for="InputPhone1" class="col-xs-3 col-md-auto col-form-label">
						<h6>電話：（手機）</h6>
					</label>
					<input type="phone" class="form-control col-xs-6 col-md-6 col-lg-6" id="InputPhone1" placeholder="請輸入手機號碼" name="phone_number" required>
				  </div>
				  <div class="form-group row">
					<label for="staticEmail" class="col-sm-3 col-md-auto col-form-label">
						<h6>e-mail：</h6>
					</label>
					 <input type="text" class="form-control col-xs-6 col-md-6 col-lg-6" id="email" placeholder="email@example.com" name="email" required>
				  </div>
				  
				  <div class="form-group row">
					<label for="identification" class="col-xs-3 col-md-auto col-form-label">
						<h6>身分證字號：</h6>
					</label>
					<input type="identification" class="form-control col-xs-6 col-md-6 col-lg-6" id="identification" name="identification_id" required>
				  </div>
				  
				  <div class="form-group row">
					<label for="address" class="col-xs-3 col-md-auto col-form-label">
						<h6>通訊地址：</h6>
					</label>
					<input type="address" class="form-control col-xs-9 col-md-9 col-lg-9" id="address" name="address" required>
				  </div>
				  
				  <input type="submit" class="btn btn-primary"  onclick='display()'></button>
				  <div class="form-group row"></div>

			    </div>
			    <div class="col-sm-4 col-lg-4 col-md-4">
					<div class="form-group">
						<div class="form-group row">


							  <div class="custom-file">
								<input type="file" class="custom-file-input" id="customFile" name="myfile" accept=".jpg,.gif,.png" required>
								<label class="custom-file-label" for="customFile">Choose file</label>
							  </div>
							
						</div>
						<img id='img-upload'/>
					</div>
					
			    </div>
			  </div>
			</form>


			  
			  
			  
		</div>
	   

	</body>
</html>
