<!DOCTYPE html>
<html lang="en">

	<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <title>基隆公車調派系統-修改密碼</title>
	  
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


	  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
	</head>

	<body>

		<nav class="navbar navbar-expand-xl navbar-dark bg-dark" id="mainNav">
		  <div class="container">
			  <a class="navbar-brand" href="{{url_for('driver_index')}}">基隆公車調派系統</a>
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			
			<div class="navbar-collapse collapse" id="navbarText">
			  <ul class="nav navbar-nav mr-auto">
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_people_number_return')}}">乘客人數回報</a></li>
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_emergency_return')}}"> 突發狀況回報</a></li>
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_personal_basic_information')}}"> 個人基本資料</a></li>
					<li class="nav-item"><a class = "nav-link" href="#"> 導航模式</a></li>
					<li class="nav-item active"><a class = "nav-link" href="{{url_for('bus_driver_change_password')}}"> 修改密碼</a></li>
				</ul>
				<ul class="navbar-nav">
					<a href="./login.html" class="btn btn-outline-primary navbar-btn" role="button" aria-pressed="true">登出</a>
                </ul>
				
			</div>
		  </div>
	    </nav>
		<div class="container py-5">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6 mx-auto">

							<!-- form card login -->
							<div class="card rounded-0">
								<div class="card-header">
									<h3 class="mb-0">Change Password</h3>
								</div>
								<div class="card-body">
									<form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
										<div class="form-group">
											<label for="uname1">Current Password</label>
											<input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="">
											<div class="invalid-feedback">Oops, you missed this one.</div>
										</div>
										<div class="form-group">
											<label>New Password</label>
											<input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
											<div class="invalid-feedback">Enter your password too!</div>
										</div>
										<div class="form-group">
											<label>Confirm Password</label>
											<input type="confirm-password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
											<div class="invalid-feedback">Enter your password too!</div>
										</div>
										<input type="submit" class="btn btn-success btn-lg float-right" id="btnSave">
									</form>
								</div>
								<!--/card-block-->
							</div>
							<!-- /form card login -->

						</div>


					</div>
					<!--/row-->

				</div>
				<!--/col-->
			</div>
			<!--/row-->
		</div>
		<!--/container-->

	</body>
</html>