<!DOCTYPE html>
<html lang="en">

	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <title>基隆公車調派系統-突發狀況回報</title>
	  
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<script src = "{{url_for('static',filename='js/websocket_open.js')}}"></script>
	  <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
	</head>

		<script>
			let count = 0;
			var restartCheck = 0;
			var date;
			date = new Date(); //日期对象 
			var day_list = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'];
    	var day  = date.getDay();

			function pause()
			{
				if(restartCheck==0){
					clearTimeout(myVar);
					restartCheck = 1;
				}
				else{
					start();
					restartCheck = 0;
				}
				
				console.log("pause run");
			}

			function load()
			{
			    $(".driver_name").html(localStorage.getItem("name"));
				websocket_init();
				loadingBusGPS();
			}
			function start()
			{
				if(count<busLocation.length){
					$.ajax({
					
					type: "POST",
					data: "json",
					dataType: "json",
					contentType : 'application/json',
					url: "http://140.121.198.84:3000/setbusGPS",
					data:JSON.stringify({
						"email": localStorage.account,
						"day": day_list[day],
						"start_time": "7:00",
						"lat": busLocation[count].lat,
						"lng": busLocation[count].lng
						}),
						success: function(response) {
						console.log(response);
						},
						error: function(xhr, type) {
						console.log("hehehe");
						}
					});
					count++;
				}
				else{
					$.ajax({
					
					type: "POST",
					data: "json",
					dataType: "json",
					contentType : 'application/json',
					url: "http://140.121.198.84:3000/setbusGPS",
					data:JSON.stringify({
						"email": localStorage.account,
						"day": day_list[day],
						"start_time": "7:00",
						"lat": 0,
						"lng": 0
						}),
						success: function(response) {
						console.log(response);
						},
						error: function(xhr, type) {
						console.log("hehehe");
						}
					});
				}
				myVar = setTimeout("start()",5000); 
			}
			function loadingBusGPS() //定期更新Bus狀況
			{
				$.ajax({
					type: "POST",
					data: "json",
					dataType: "json",
					contentType : 'application/json',
					url: "http://140.121.198.84:3000/setbusStop",
					data:JSON.stringify({
								"email": localStorage.account,
								"day": day_list[day],
								"start_time": "7:00"
						}),
						success: function(response) {
								console.log(response);
								if(response == "haveNotStart")
								{
									busLocation = null;
								} 
								
								else{
									var obj = Object.keys(response).map(function(_) { return response[_]; });
									busLocation = obj;
									start();
								}
						},
						error: function(xhr, type) {
								console.log("gr nb");
						}
					});
					count = 0;
			}
		</script>
    <body onload="load();">

		<nav class="navbar navbar-expand-xl navbar-dark bg-dark" id="mainNav">
		
		 <div class="container">
			  <a class="navbar-brand" href="{{url_for('driver_index')}}"><h1>基隆公車調派系統</h1></a>
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			
			<div class="navbar-collapse collapse" id="navbarText">
			  <ul class="nav navbar-nav row">
				<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_people_number_return')}}"><h3>乘客人數回報</h3></a></li>
				<li class="nav-item active"><a class = "nav-link" href="{{url_for('bus_driver_emergency_return')}}"> <h3>突發狀況回報</h3></a></li>
				
				<li class="nav-item dropdown">
					<h3 class="nav-link dropdown-toggle driver_name" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</h3>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class = "dropdown-item" href="{{url_for('bus_driver_personal_basic_information')}}"> <h3>個人基本資料</h3></a>
					  <a class = "dropdown-item" href="{{url_for('bus_driver_change_password')}}"> <h3>修改密碼</h3></a>
					  <a class = "dropdown-item" href="{{url_for('logout')}}"><h3>登出</h3></a>
					</div>
				</li>
			  </ul>
				
			</div>
		  </div>
	    </nav>
		<div class="container">
			<div class="intro-text my-3">
				<h1>突發狀況回報</h1>
			</div>
			<form>
			  <div class="form-group my-5">
				<label for="exampleFormControlTextarea1">事故發生原因：</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
			  </div>
			</form>
			<div>
				<input type="submit" class="btn btn-primary"  onclick='sendMessageToManager()'>
				<button type="button" class="btn btn-danger" onclick='solveEmergency()'>狀況已排除</button>
			</div>
			<div class="col-6 col-xs-6 col-md-6 col-lg-6 text-center">
				<button type="button" class="btn btn-secondary btn-lg" onclick='pause()'><h1>暫停/重啟</h1></button>
			</div>
		</div>

	</body>
</html>