<!DOCTYPE html>
<html lang="en">

	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <title>基隆公車調派系統-突發狀況回報</title>
	  
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<script src = "{{url_for('static',filename='js/websocket_open.js')}}"></script>
	  <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
	</head>

	
    <body onload="websocket_init();">

		<nav class="navbar navbar-expand-xl navbar-dark bg-dark" id="mainNav">
		  <div class="container">
			  <a class="navbar-brand" href="{{url_for('driver_index')}}"><h1>基隆公車調派系統</h1></a>
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			
			<div class="navbar-collapse collapse" id="navbarText">
			  <ul class="nav navbar-nav mr-auto">
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_people_number_return')}}"><h3>乘客人數回報</h3></a></li>
					<li class="nav-item active"><a class = "nav-link" href="{{url_for('bus_driver_emergency_return')}}"> <h3>突發狀況回報</h3></a></li>
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_personal_basic_information')}}"> <h3>個人基本資料</h3></a></li>
					<li class="nav-item"><a class = "nav-link" href="#"> <h3>導航模式</h3></a></li>
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_change_password')}}"> <h3>修改密碼</h3></a></li>
				</ul>
				<ul class="navbar-nav">
					<a href="{{url_for('logout')}}" class="btn btn-outline-primary navbar-btn" role="button" aria-pressed="true"><h3>登出</h3></a>
                </ul>
				
			</div>
		  </div>
	    </nav>
		<div class="container">
			<div class="intro-text my-3">
				<h1>突發狀況回報</h1>
			</div>
			<form>
			  <div class="form-group my-5">
				<label for="exampleFormControlTextarea1">事故發生原因：</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
			  </div>
			</form>
			<input type="submit" class="btn btn-primary"  onclick='sendMessageToManager()'>
		</div>

	</body>
</html>