<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>基隆公車調派系統-個人基本資料</title>
		<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<script src = "{{url_for('static', filename='js/websocket_open.js')}}"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		

		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
		<script src="{{url_for('static', filename='js/bus_driver_personal_basic_information.js')}}"></script>
		<script src = "{{url_for('static', filename='js/websocket_open.js')}}"></script>
		<script type = "text/javascript">
		function start()
		{
			load();
			websocket_init();
		}
		</script>
	</head>


	<body onload="start()">

		<nav class="navbar navbar-expand-xl navbar-dark bg-dark" id="mainNav">
		
		 <div class="container">
			  <a class="navbar-brand" href="{{url_for('driver_index')}}"><h1>基隆公車調派系統</h1></a>
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			
			<div class="navbar-collapse collapse" id="navbarText">
			  <ul class="nav navbar-nav row">
				<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_people_number_return')}}"><h3>乘客人數回報</h3></a></li>
				<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_emergency_return')}}"> <h3>突發狀況回報</h3></a></li>
				
				<li class="nav-item dropdown">
					<h3 class="nav-link dropdown-toggle driver_name active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</h3>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class = "dropdown-item" href="{{url_for('bus_driver_personal_basic_information')}}"> <h3>個人基本資料</h3></a>
					  <a class = "dropdown-item" href="{{url_for('bus_driver_change_password')}}"> <h3>修改密碼</h3></a>
					  <a class = "dropdown-item" href="{{url_for('logout')}}"><h3>登出</h3></a>
					</div>
				</li>
			  </ul>
				
			</div>
		  </div>
	    </nav>
	   <div class="container">
				<div class="intro-text my-3">
					<h1>個人基本資料</h1>
				</div>
				{% if error %}
					<div class="alert alert-danger" role="alert"><strong>Error:</strong> {{ error }}</div>
				{% endif %}
				{% if success %}
					<div class="alert alert-success" role="alert"><strong>Success:</strong> {{ success }}</div>
				{% endif %}
				<form method = "post" action = "http://127.0.0.1:3000/modify_info_to_db" onsubmit="return checkForm(this);" enctype = "multipart/form-data">
					<div class = "row">
						<div class="col-sm-7 col-lg-7 col-md-7">
							<div class="form-group row">
								<label for="InputName" class="col-xs-3 col-md-auto col-form-label"><h6>姓名：</h6></label>
								<input type="text" class="form-control col-xs-6 col-md-6 col-lg-6" id="InputName" placeholder="請輸入姓名" name="name" readonly>
							</div>
							
							<div class="form-group row">
								<legend class="col-xs-3 col-md-auto col-form-label"><h6>性別：</h6></legend>
								<div class="col-sm-1 mt-2 mt-md-1">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gender" id="gender1" value="0" readonly>
										<label class="form-check-label" for="gender1"><h6>男</h6></label>
									</div>
								</div>
								<div class="col-sm-1 mt-2 mt-md-1">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gender" id="gender2" value="1" readonly>
										<label class="form-check-label" for="gender2"><h6>女</h6></label>
									</div>
								</div>
							</div>
							
							<div class="form-group row">
								<label for="birthday" class="col-xs-3 col-md-auto col-form-label">
									<h6>生日：</h6>
								</label>
								<div class="col-xs-6 col-md-6 col-lg-6">
									<div class="form-group">
										<div class="input-group date" id="birthday" data-target-input="nearest">
											<input type="text" class="form-control datetimepicker-input" id="date" data-target="#birthday" name="birthday" readonly>
											<div class="input-group-append" data-target="#birthday" data-toggle="datetimepicker">
												<div class="input-group-text"><i class="fa fa-calendar"></i></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="form-group row">
								<label for="InputPhone1" class="col-xs-3 col-md-auto col-form-label">
									<h6>電話：（手機）</h6>
								</label>
								<input type="phone" class="form-control col-xs-6 col-md-6 col-lg-6" id="InputPhone1" placeholder="請輸入手機號碼" name="phone_number" readonly>
							</div>
							
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-3 col-md-auto col-form-label">
								<h6>e-mail：</h6>
								</label>
								 <input type="text" class="form-control col-xs-6 col-md-6 col-lg-6" id="email" placeholder="email@example.com" name="email" readonly>
							</div>
							
							<div class="form-group row">
								<label for="identification" class="col-xs-3 col-md-auto col-form-label">
									<h6>身分證字號：</h6>
								</label>
								<input type="identification" class="form-control col-xs-6 col-md-6 col-lg-6" id="identification" name="identification_id" readonly>
							</div>
							
							<div class="form-group row">
								<label for="employee" class="col-xs-3 col-md-auto col-form-label">
									<h6>員工代號：</h6>
								</label>
								<input type="employee" class="form-control col-xs-6 col-md-6 col-lg-6" id="employee" name="id" readonly >
							</div>
							
							<div class="form-group row">
								<label for="account" class="col-xs-3 col-md-auto col-form-label">
									<h6>帳戶：</h6>
								</label>
								<input type="account" class="form-control col-xs-6 col-md-6 col-lg-6" id="account" name="account" readonly>
							</div>
							
							<div class="form-group row">
								<label for="address" class="col-xs-3 col-md-auto col-form-label">
									<h6>通訊地址：</h6>
								</label>
								<input type="address" class="form-control col-xs-9 col-md-9 col-lg-9" id="address" name="address" readonly>
							</div>
		
						</div>
						<div class="col-sm-4 col-lg-4 col-md-4">
							<div class="form-group">
								<div class="form-group row">
									<label for="address" class="col-xs-3 col-md-auto col-form-label">
										<h6>上傳大頭照：</h6>
									</label>
									<div class="custom-file" style="display:none;">
										<input type="file" class="custom-file-input" id="myfile" name="myfile" accept=".jpg,.JPEG,.JPG,.png,.PNG,.jpeg" onchange="readURL(this);" disabled>
										<label class="custom-file-label" for="myfile">Choose file</label>
									</div>
									
								</div>
								<img id="blah"/>
							</div>
						
						</div>
					</div>
			
				<input type="submit" class="btn btn-primary mb-3 yes"  style="display:none;">
				<button type="button"class="btn btn-success mb-3 cancel" style="display:none;">取消</button>
				<button type="button"  class="btn btn-success mb-3 fix" >修改</button>
			    
			</form>
		</div>
	   

	</body>
</html>
