<!DOCTYPE html>
<html lang="en">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <title>基隆公車調派系統-乘客人數回報</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
				<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<link href="{{ url_for('static', filename='css/bus_driver.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
		<script src="{{url_for('static', filename='js/bus_driver_people_number_return.js')}}"></script>
		<script src = "{{url_for('static', filename='js/websocket_open.js')}}"></script>
    </head>
    <script>
			var lat, lng;
			var peoplenum = 0;
			var myVar;
			var date;
			var now; 
			var i = 1;
			var stop = i.toString();
			var count = 0;
			var restartCheck = 0;
			function report() {
				//peoplenum = localStorage.getItem('peoplenum');
				date = new Date(); //日期对象 
				now = "";
				console.log("report");
				console.log(peoplenum);
				if(date.getHours()<10){
					now = now + "0"+date.getHours()+":"; 
				}
				else{
					now = now + date.getHours()+":"; 
				}
				
				
				if(date.getMinutes()<10){
					now = now + "0"+date.getMinutes();
				}
				else{
					now = now + date.getMinutes();
				}
				console.log(now);
				
			}
				var busLocation = [];
				var count= 0;
				function callBusStop()
				{
					$.ajax({
						type: "POST",
						data: "json",
						dataType: "json",
						contentType : 'application/json',
						url: "http://127.0.0.1:3000/startSetbusStop",
						data:JSON.stringify({
							"email": localStorage.account,
							"day": "SUN",
							"start_time": "7:00"
							}),
							success: function(response) {
							console.log(response);
							var obj = Object.keys(response).map(function(_) { return response[_]; });
							busLocation = obj;
							console.log("busLocation")
							console.log(busLocation);
							start();
							},
							error: function(xhr, type) {
							console.log("gr nb");
							}
						});
						count = 0;
				}
				function loadingBusGPS() //定期更新Bus狀況
				{
					$.ajax({
						type: "POST",
						data: "json",
						dataType: "json",
						contentType : 'application/json',
						url: "http://127.0.0.1:3000/setbusStop",
						data:JSON.stringify({
									"email": localStorage.account,
									"day": "SUN",
									"start_time": "7:00"
							}),
							success: function(response) {
									console.log(response);
									if(response == "haveNotStart")
									{
										busLocation = null;
									} 
									
									else{
										var obj = Object.keys(response).map(function(_) { return response[_]; });
										busLocation = obj;
										start();
									}
							},
							error: function(xhr, type) {
									console.log("gr nb");
							}
						});
						count = 0;
				}

				//建議把暫停紐寫到突發狀況那裏
				function pause()
				{
					if(restartCheck==0){
						clearTimeout(myVar);
						restartCheck = 1;
					}
					else{
						start();
						restartCheck = 0;
					}
					
					console.log("pause run");
				}
				
				function start()
				{
					console.log("ouo");
					var date2 = new Date(); //日期对象 
					var now2 = "";
					now2 = now2 + date2.getHours()+":"; 
					now2 = now2 + date2.getMinutes();

					if(count<busLocation.length){
						$.ajax({
						
						type: "POST",
						data: "json",
						dataType: "json",
						contentType : 'application/json',
						url: "http://127.0.0.1:3000/setbusGPS",
						data:JSON.stringify({
							"email": localStorage.account,
							"day": "SUN",
							"start_time": "7:00",
							"lat": busLocation[count].lat,
							"lng": busLocation[count].lng
							}),
							success: function(response) {
							console.log(response);
							},
							error: function(xhr, type) {
							console.log("hehehe");
							}
						});
						count++;
					}
					else{
						$.ajax({
						
						type: "POST",
						data: "json",
						dataType: "json",
						contentType : 'application/json',
						url: "http://127.0.0.1:3000/setbusGPS",
						data:JSON.stringify({
							"email": localStorage.account,
							"start_time": "7:00",
							"lat": 0,
							"lng": 0
							}),
							success: function(response) {
							console.log(response);
							},
							error: function(xhr, type) {
							console.log("hehehe");
							}
						});
					}
					myVar = setTimeout("start()",5000); 
				}


			function end()
			{
				clearTimeout(myVar);
				count = 0;
				document.getElementById("people_number").innerHTML = "0";
				localStorage.setItem('peoplenum',0);
				console.log("owo");
				const p =new Promise(
				(resolve,reject)=>{$.ajax({
				type: "POST",
					data: "json",
					dataType: "json",
					contentType : 'application/json',

					url: "http://127.0.0.1:3000/setbusGPS",
					data:JSON.stringify({
					"email": localStorage.account,
					"day": "SUN",
					"start_time": "7:00",
					"lat": 0,
					"lng": 0,
					"peoplenum": 0
					}),
					success: function(response) {
					console.log(response);
					},
					error: function(xhr, type) {
					console.log("hehe");
					}
				}).done(result => resolve())
				}).then(result => setNumberToDB())
			}

			//抓GPS當前裝置定位
			function initMap() {
				navigator.geolocation.watchPosition((position) => {
						console.log(position.coords);
						console.log(position.timestamp);
						lat = position.coords.latitude;
						lng = position.coords.longitude;

				});
			}

			function load()
			{
				//localStorage.setItem('peoplenum',0);
				websocket_init();
				loadingBusGPS();
			}

			
			
		</script>
    <body onload="load()">
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark" id="mainNav">
		  <div class="container">
			  <a class="navbar-brand" href="{{url_for('driver_index')}}"><h1>基隆公車調派系統</h1></a>
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			
			<div class="navbar-collapse collapse" id="navbarText">
			  <ul class="nav navbar-nav mr-auto">
					<li class="nav-item active"><a class = "nav-link" href="{{url_for('bus_driver_people_number_return')}}"><h3>乘客人數回報</h3></a></li>
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_emergency_return')}}"> <h3>突發狀況回報</h3></a></li>
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_personal_basic_information')}}"> <h3>個人基本資料</h3></a></li>
					<li class="nav-item"><a class = "nav-link" href="#"> <h3>導航模式</h3></a></li>
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_change_password')}}"> <h3>修改密碼</h3></a></li>
				</ul>
				<ul class="navbar-nav">
					<a href="{{url_for('logout')}}" class="btn btn-outline-primary navbar-btn" role="button" aria-pressed="true"><h3>登出</h3></a>
                </ul>
				
			</div>
		  </div>
	    </nav>
        
        <div class="container-fluid">
			<div class="intro-text my-4">  
				乘客人數回報
			</div>
			<form>
				<div class = "row">
					<label for="address" class="col-4 col-xs-4 col-md-auto col-form-label">
						<h1>上車人數：</h1>
					</label>
					<div class="qty col-8 col-xs-8 col-md-8 col-lg-8">
						<span class="minus bg-dark">-</span>
						<input type="number" class="count" name="qty" value="0" id="get_on">
						<span class="plus bg-dark">+</span>
					</div>
				</div>
				
				<div class = "row my-4">
					<label for="address" class="col-4 col-xs-4 col-md-auto col-form-label">
						<h1>下車人數：</h1>
					</label>
					<div class="qty col-8 col-xs-8 col-md-8 col-lg-8">
						<span class="minus1 bg-dark">-</span>
						<input type="number" class="count1" name="qty" value="0" id="get_off">
						<span class="plus1 bg-dark">+</span>
					</div>
				</div>
				<div class = "row">
					<div class="col-12 col-xs-12 col-md-8 col-lg-6 mt-3 text-center">
						<button type="button" class="btn btn-outline-secondary btn-lg save"><h1>送出</h1></button>
					</div>
					<div class="col-12 col-xs-12 col-md-8 col-lg-6 mt-3 text-center">
						<button type="button" class="btn btn-outline-secondary btn-lg" id="delete"><h1>取消</h1></button>
					</div>
				</div>
				
				<div class="row col-8 col-xs-8 col-md-8 col-lg-8 mt-3">
					<div class="col-6 col-xs-6 col-md-6 col-lg-6 text-center">
						<button type="button" class="btn btn-secondary btn-lg" onclick='report()'><h1>到站按鈕</h1></button>
					</div>
					<div class="col-6 col-xs-6 col-md-6 col-lg-6 text-center">
						<button type="button" class="btn btn-secondary btn-lg" onclick='pause()'><h1>暫停</h1></button>
					</div>
				</div>

				<div class = "col-8 col-xs-8 col-md-8 col-lg-8 row my-4">
					<h1>當前乘客人數:</h1>
					<h1 id="people_number">0</h1>
				</div>
				<div class = "row col-8 col-xs-8 col-md-8 col-lg-8 mt-3">
					<div class="col-6 col-xs-6 col-md-6 col-lg-6 text-center">
						<button type="button" class="btn btn-primary btn-lg" onclick='callBusStop()'><h1>開始</h1></button>
					</div>
					<div class="col-6 col-xs-6 col-md-6 col-lg-6 text-center">
						<button type="button" class="btn btn-danger btn-lg" onclick='end()'><h1>結束</h1></button>
					</div>
				</div>
			</form>

			<div id="map"></div>
			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFm04vWkAn3r9Y07onUqyqI6v_8thzG78&callback=initMap">
			</script>
    </body>
</html>