<!DOCTYPE html>
<html lang="en">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <title>基隆公車調派系統-乘客人數回報</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
				<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<link href="{{ url_for('static', filename='css/bus_driver.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
		<script src="{{url_for('static', filename='js/bus_driver_people_number_return.js')}}"></script>
		<script src = "{{url_for('static', filename='js/websocket_open.js')}}"></script>
    </head>
    
    <body onload="websocket_init()">
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark" id="mainNav">
		  <div class="container">
			  <a class="navbar-brand" href="{{url_for('driver_index')}}"><h1>基隆公車調派系統</h1></a>
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			
			<div class="navbar-collapse collapse" id="navbarText">
			  <ul class="nav navbar-nav mr-auto">
					<li class="nav-item active"><a class = "nav-link" href="{{url_for('bus_driver_people_number_return')}}"><h3>乘客人數回報</h3></a></li>
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_emergency_return')}}"> <h3>突發狀況回報</h3></a></li>
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_personal_basic_information')}}"> <h3>個人基本資料</h3></a></li>
					<li class="nav-item"><a class = "nav-link" href="#"> <h3>導航模式</h3></a></li>
					<li class="nav-item"><a class = "nav-link" href="{{url_for('bus_driver_change_password')}}"> <h3>修改密碼</h3></a></li>
				</ul>
				<ul class="navbar-nav">
					<a href="{{url_for('logout')}}" class="btn btn-outline-primary navbar-btn" role="button" aria-pressed="true"><h3>登出</h3></a>
                </ul>
				
			</div>
		  </div>
	    </nav>
        
        <div class="container-fluid">
			<div class="intro-text my-4">  
				乘客人數回報
			</div>
			<form>
				<div class = "row">
					<label for="address" class="col-4 col-xs-4 col-md-auto col-form-label">
						<h1>上車人數：</h1>
					</label>
					<div class="qty col-6 col-xs-6 col-md-6 col-lg-6">
						<span class="minus bg-dark">-</span>
						<input type="number" class="count" name="qty" value="0" id="get_on">
						<span class="plus bg-dark">+</span>
					</div>
				</div>
				
				<div class = "row my-4">
					<label for="address" class="col-4 col-xs-4 col-md-auto col-form-label">
						<h1>下車人數：</h1>
					</label>
					<div class="qty col-6 col-xs-6 col-md-6 col-lg-6">
						<span class="minus1 bg-dark">-</span>
						<input type="number" class="count1" name="qty" value="0" id="get_off">
						<span class="plus1 bg-dark">+</span>
					</div>
				</div>
				<div class="col-12 col-xs-12 col-md-8 col-lg-6 mt-3 text-center">
					<button type="button" class="btn btn-outline-secondary btn-lg save"  onclick='display_peoplenum()'><h1>送出</h1></button>
				</div>
				
				<div class="col-12 col-xs-12 col-md-8 col-lg-6 mt-3 text-center">
					<button type="button" class="btn btn-secondary btn-lg" onclick='report()'><h1>到站按鈕</h1></button>
				</div>

				<div class = "row my-4">	
					<h1>當前乘客人數：</h1>
					<input type="number" class="count2" value="0" id="people_number"></h1>
				</div>
				<div class = "row col-8 col-xs-8 col-md-8 col-lg-8 mt-3">
					<div class="col-6 col-xs-6 col-md-6 col-lg-6 text-center">
						<button type="button" class="btn btn-primary btn-lg" onclick='start()'><h1>開始</h1></button>
					</div>
					<div class="col-6 col-xs-6 col-md-6 col-lg-6 text-center">
						<button type="button" class="btn btn-danger btn-lg" onclick='end()'><h1>結束</h1></button>
					</div>
				</div>
			</form>

			<div id="map"></div>
			<script>
				var lat, lng;
				var peoplenum = 0;
				var myVar;
				var date = new Date(); //日期对象 
				var now = ""; 
				var i = 1;
				var stop = i.toString();
				var count = 0;
				//addItems.addEventListener('submit', display_peoplenum);
					function report() {
						//peoplenum = localStorage.getItem('peoplenum');
						console.log("report");
						console.log(peoplenum);
						
						now = date.getFullYear()+"-"; //读英文就行了 
						now = now + (date.getMonth()+1)+"-"; //取月的时候取的是当前月-1如果想取当前月+1就可以了 
						now = now + date.getDate()+"T"; 
						now = now + date.getHours()+":"; 
						now = now + date.getMinutes()+":00.000Z";
						
						console.log(now);
						
						
						//setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 1000);
					}
					var buslocation = [
						{lat:25.136333,lng:121.778361},
						{lat:25.135139,lng:121.782333},
						{lat:25.135306,lng:121.78475},
						{lat:25.135611,lng:121.785639},
						{lat:25.136333,lng:121.787778},
						{lat:25.137444,lng:121.788667},
						{lat:25.139583,lng:121.789444},
						{lat:25.142389,lng:121.789306},
						{lat:25.145056,lng:121.7855},
						{lat:25.14675,lng:121.783556},
						{lat:25.148355,lng:121.782811},
						{lat:25.150237,lng:121.780909},
						{lat:25.150982,lng:121.775624},
						{lat:25.15114,lng:121.772985},
						{lat:25.151194,lng:121.771875},
						{lat:25.151756,lng:121.770607},
						{lat:25.152256,lng:121.76793},
						{lat:25.151149,lng:121.766927},
						{lat:25.150581,lng:121.765452},
						{lat:25.149328,lng:121.763623},
						{lat:25.14739,lng:121.761509},
						{lat:25.142444,lng:121.760667},
						{lat:25.143111,lng:121.761111}
					]
					var obj = Object.keys(buslocation).map(function(_) { return buslocation[_]; });
					var count= 0;
					function start()
					{
						console.log("ouo");
						var date2 = new Date(); //日期对象 
						var now2 = "";
						now2 = now2 + date2.getHours()+":"; 
						now2 = now2 + date2.getMinutes();


						if(count<obj.length){
							$.ajax({
							
							type: "POST",
							data: "json",
							dataType: "json",
							contentType : 'application/json',
							url: "http://140.121.198.84:3000/setbusGPS",
							data:JSON.stringify({
								"email": localStorage.account,
								"start_time": "7:00",
								"lat": obj[count].lat,
								"lng": obj[count].lng
								}),
								success: function(response) {
								console.log(response);
								},
								error: function(xhr, type) {
								console.log("hehehe");
								}
							});
							count++;
						}
						else{
							$.ajax({
							
							type: "POST",
							data: "json",
							dataType: "json",
							contentType : 'application/json',
							url: "http://140.121.198.84:3000/setbusGPS",
							data:JSON.stringify({
								"email": localStorage.account,
								"start_time": "7:00",
								"lat": 0,
								"lng": 0
								}),
								success: function(response) {
								console.log(response);
								},
								error: function(xhr, type) {
								console.log("hehehe");
								}
							});
						}
						myVar = setTimeout("start()",5000); 
					}

				function display_peoplenum(e)
				{
					event.preventDefault();
					peoplenum = peoplenum + (document.getElementById("get_on").value - document.getElementById("get_off").value);
					localStorage.setItem('peoplenum',peoplenum);
					document.getElementById("people_number").value = peoplenum;
					console.log("report people num"+document.getElementById("people_number").value);
					console.log(localStorage.getItem('peoplenum'));
					
					$.ajax({
						type: "POST",
						data: "json",
						dataType: "json",
						contentType : 'application/json',
						url: "http://140.121.198.84:3000/peoplenum_to_db",
						data:JSON.stringify({
							"driver":localStorage.account,
							"peoplenum": localStorage.getItem('peoplenum'),
							"arrive_time": now,
							"lat": lat,
							"lng": lng
						}),
						success: function(response) {
							console.log(response);
						},
						error: function(xhr, type) {
							console.log("hehehe");
						}
					});
				}

				function end()
				{
					clearTimeout(myVar);
					count = 0;
					console.log("owo");
					$.ajax({
					type: "POST",
						data: "json",
						dataType: "json",
						contentType : 'application/json',

						url: "http://140.121.198.84:3000/setbusGPS",
						data:JSON.stringify({
						"email": localStorage.account,
						"start_time": "7:00",
						"lat": 0,
						"lng": 0
						}),
						success: function(response) {
						console.log(response);
						},
						error: function(xhr, type) {
						console.log("hehe");
						}
					});
				}

				//抓GPS當前裝置定位
				function initMap() {
					navigator.geolocation.watchPosition((position) => {
							console.log(position.coords);
							console.log(position.timestamp);
							lat = position.coords.latitude;
							lng = position.coords.longitude;

					});
				}

				
				
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFm04vWkAn3r9Y07onUqyqI6v_8thzG78&callback=initMap">
			</script>
    </body>
</html>