<!DOCTYPE html>
<html lang="en">

	<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <title>基隆公車調派系統-首頁</title>
	  
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
	</head>

	<body>

	  	  <nav class="navbar navbar-expand-xl navbar-dark bg-dark" id="mainNav">
		  <div class="container">
			  <a class="navbar-brand" id="#">基隆公車調派系統</a>
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			
			<div class="navbar-collapse collapse" id="navbarText">
			  <ul class="nav navbar-nav mr-auto">
					<li class="nav-item"><a class = "nav-link" href="./bus_driver_people_number_return.html">乘客人數回報</a></li>
					<li class="nav-item"><a class = "nav-link" href="./bus_driver_emergency_return.html"> 突發狀況回報</a></li>
					<li class="nav-item"><a class = "nav-link" href="./bus_driver_personal_basic_information.html"> 個人基本資料</a></li>
					<li class="nav-item"><a class = "nav-link" href="#"> 導航模式</a></li>
					<li class="nav-item"><a class = "nav-link" href="./bus_driver_change_password.html"> 修改密碼</a></li>
				</ul>
				<ul class="navbar-nav">
					<a href="{{url_for('logout')}}" class="btn btn-outline-primary" role="button" aria-pressed="true">登出</a>
				</ul>
				
			</div>
		  </div>
		</nav>
		
	   <div class="container">
		   <div class="carousel slide" data-ride="carousel" id="carousel-demo">
				<ol class="carousel-indicators">
				  <li data-target="#carousel-demo" data-slide-to="0" class="active"></li>
				  <li data-target="#carousel-demo" data-slide-to="1"></li>
				  <li data-target="#carousel-demo" data-slide-to="2"></li>
				</ol>
			  <div class="carousel-inner">
				<div class="carousel-item active">
				  <img class="d-block w-100" src="https://www.taiwan.net.tw/att/1/big_scenic_spots/pic_412_8.jpg" alt="">
				</div>
				<div class="carousel-item">
				  <img class="d-block w-100" src="http://farm4.staticflickr.com/3795/9269794168_3ac58fc15c_b.jpg" alt="">
				</div>
				<div class="carousel-item">
				  <img class="d-block w-100" src="https://www.taiwan.net.tw/att/1/big_scenic_spots/pic_3266_19.jpg" alt="">
				</div>
			  
				<a href="#carousel-demo" class="carousel-control-prev" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#carousel-demo" class="carousel-control-next" data-slide="next">
				  <span class="carousel-control-next-icon"></span>
				</a>
			  </div>
			</div>
		</div>

	</body>
</html>